<!doctype html>
<html lang="en" ng-app="studentRoster">
<head>
  <meta charset="UTF-8">
  <title>Student App</title>
  <script src="lib/angular.js"></script>
  <script src="services/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers/StudentsController.js"></script>
  <script src="controllers/SignInController.js"></script>
  <script src="services/StudentsFactory.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div ng-view></div>
</body>
</html>
